/* Base glitch effect */
.glitched {
  position: relative;
  animation: glitchBase 1s linear infinite;
}

/* Increased intensity */
.glitched.glitch-intensity-1 {
  animation: glitchIntensity1 1s linear infinite;
}

.glitched.glitch-intensity-2 {
  animation: glitchIntensity2 1s linear infinite;
}

/* Defines keyframes for each intensity level */
@keyframes glitchBase {
  2%,
  64% {
    transform: translate(2px, -2px) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-4px, -2px) skew(0deg);
  }
  89% {
    transform: translate(0, 0) skew(5deg);
  }
  14% {
    transform: translate(2px, 2px) skew(5deg);
  }
}

@keyframes glitchIntensity1 {
  2%,
  64% {
    transform: translate(10px, -10px) skew(-5deg);
  }
  4%,
  60% {
    transform: translate(-8px, -4px) skew(5deg);
  }
  89% {
    transform: translate(0, 0) skew(10deg);
  }
  14% {
    transform: translate(14px, 14px) skew(-10deg);
  }
}

@keyframes glitchIntensity2 {
  2%,
  64% {
    transform: translate(26px, -26px) skew(-10deg);
  }
  4%,
  60% {
    transform: translate(-22px, -6px) skew(10deg);
  }
  89% {
    transform: translate(0, 0) skew(15deg);
  }
  14% {
    transform: translate(36px, 26px) skew(-15deg);
  }
}

.broken__button__general {
  position: relative;
  z-index: 2;
  bottom: 35em;
}

.broken__button {
  width: 10em;
  border: none;
  background: transparent;
  font-size: 1em;
  color: black;
}

.dont__part {
  position: relative;
  bottom: 3vh;
  left: 2vw;
}

.at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.invisible {
  visibility: hidden;
}

.cracks {
  position: relative;
  top: -12vh;
  z-index: -7 !important;
}

.warning__text {
  position: relative;
  top: -12vh;
  z-index: -7 !important;
}

@keyframes fallAndDisappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.fallAndDisappear {
  animation: fallAndDisappear 2s forwards;
}
