body {
  background-color: #ffffff;
  padding-top: 200px;
}

.broken__button {
  position: relative;
  top: 200px;
  left: 200px;
  width: 150px;
  border: none;
  background: transparent;
  font-size: 100%;
  color: black;
}

.dont-part {
  position: fixed;
  margin-top: 190px;
  left: 240px;
}

.at-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  animation: none; /* Remove animation to keep it at the bottom */
}

.invisible {
  visibility: hidden; /* Keeps the space but makes it invisible */
}
