body {
  background-color: #ffffff;
  padding-top: 200px;
  overflow: hidden; /* Prevents the page from scrolling */
}

.invisible {
  visibility: hidden; /* Keeps the space but makes it invisible */
}
