@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 174px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Philosopher", cursive;
  background-color: #ffffff;
  z-index: 10;
}

.mainTitle {
  font-size: 1.5em;
  color: #565656;
  text-shadow: 2px 2px 4px #000;
}

.bigA {
  font-size: 700%;
  position: relative;
  top: 76px;
  left: 100px;
  text-decoration: none !important;
  color: #565656;
}

.bigALink {
  text-decoration: none !important;
}

.firstName {
  position: relative;
  bottom: 114px;
  left: 170px;
}

.lastName {
  position: relative;
  bottom: 144px;
  left: 195px;
}

.firstT {
  position: relative;
  top: 252px;
  left: 81px;
}

.tagline {
  position: relative;
  bottom: 156px;
  left: 21px;

  text-shadow: none;
}
