@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

.home {
  overflow: hidden;
  height: 70vh;
  width: 100%;
  background: none;
}

.broken__button__general,
.project__display {
  z-index: 100; /* Must be higher than BackgroundPieces and MatrixBackground! */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Philosopher", cursive;
}

.mainTitle {
  font-size: 1.5em;
  color: #565656;
  text-shadow: 2px 2px 4px #000;
}

@media (min-width: 1024px) {
  .bigA {
    font-size: 5em;
    position: relative;
    bottom: 12%;
    left: 10%;
  }

  .firstName {
    position: relative;
    bottom: 35%;
    left: 15%;
  }

  .lastName {
    position: relative;
    bottom: 40%;
    left: 18%;
  }

  .firstT {
    position: relative;
    top: 8%;
    left: 7%;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
  }

  .bigA,
  .firstName,
  .lastName,
  .firstT {
    font-size: 2.5em;
    position: static;
  }

  .mainTitle {
    font-size: 1.2em;
  }
}
