.projectContainer {
  width: 80%;
  margin: 0 auto;
}

.heroSection {
  position: relative;
  width: 100%;
  height: 400px; /* Adjust based on your preference */
  margin-bottom: 20px;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the hero section */
}

.projectTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff; /* Choose a color that stands out from your hero image */
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 5px 10px;
}

.projectInfo {
  margin-bottom: 20px;
}

.goBackButton {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Add more styles for typography, colors, and other elements */
