.project__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__list {
  display: flex;
  justify-content: space-evenly;
  gap: 20%;
  margin-top: 10vh;
}

.project__list__item {
  margin-bottom: 20px;
  width: 400px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.project__list__item a {
  color: inherit;
  text-decoration: none;
}

.project__list__item:hover {
  transform: scale(1.05);
}

.project__list__item.expanded {
  height: auto;
  transform: scale(1.1);
}

.project__text {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -10px;
  border: 1px solid black;
  color: black !important;
  text-decoration: none !important;
}

.project__item__text:link,
.project__item__text:visited,
.project__item__text:hover,
.project__item__text:active {
  color: inherit !important;
  text-decoration: none !important;
}

.project__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* For some reason the only way to remove the underline is to add in the css below */
.noUnderline {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .project__list {
    flex-direction: column;
    align-items: center;
  }
}
