.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
  margin-left: 20%;
}

.heroSection {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.heroImage {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.projectTitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for readability */
  padding: 5px 10px;
}

.projectInfo {
  margin-bottom: 20px;
}

.goBackButton {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 5vw;
}
